//usage @extend placeholdername; 


// for parent of floated objects
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// visibility placeholders

%visible-md {
	display:none;
	@include mq(tablet-wide) {
		display: block;
	}
}

%visible-sm {
	display:none;
	@include mq(tablet) {
		display: block;
	}
}

%visible-640 {
	display:none;
	@include mq(tablet-small) {
		display: block;
	}
}

%hide-md {
	display:block;
	@include mq(tablet-wide) {
		display: none;
	}
}

%hidden-sm {
	display: block;
	@include mq(tablet) {
		display: none !important;
	}
}
%hidden-640 {
	display: block;
	@include mq(tablet-small) {
		display: none;
	}
}




// grid placeholders




// TEXT FORMATING

%text-center {
	text-align:center;
}
%text-left{
	text-align:left;
}



// Box-shadow placeholders


%box-shadow-blue--blur {
@include box-shadow(inset 0px 24px 8px $color-btn-shadow-inset, 0px 11px 40px 6px  $color-btn-shadow);
}

%box-shadow-dark-blue {
	@include box-shadow(0px 12px 60px 0px $color-box-shadow-outer);
}

// Text Shadow placeholders


%text-shadow-blue {
	@include text-shadow(0px, 0px, 13px, $color-text-shadow);
}